<form method="post" action="/homepage">
	<textarea name="body" placeholder="share your pizza" rows="6"></textarea><br><br><br>
	<input type="submit" value="Submit">
</form>

<% if flash[:alert] %>
	<div class="flash alert">
		<%= flash[:alert] %>
	</div>
<% end %>	

<% if flash[:notice] %>
	<div class="flash notice">
		<%= flash[:notice] %>
	</div>
<% end %>


	<% @posts.reverse.each do |post| %>
	      <div id="post">
	      	<p><strong>author: </strong><%= post.user_id %></p>
	      	<p><strong>post: </strong><%= post.body %></p>
	      	<p><strong> time: </strong><%= post.posttime %></p>
	      	<p><a class="btn" href="/posts/<%= post.id %>/delete">delete post</a></p></div>

	<% end %>




