<br><br>
<div id="userProfile">

<h1><%= @users.username %></h1>
<p>Email: <%= @users.email %></p>
<p>About: <%= @users.about %></p>

</div>

<div id="userPosts">
<% @posts.reverse_each do |post| %>
	      <div id="post">
	      	<p>By: <%= User.find(post.user_id).username %></p>
	      	<p><strong>post: </strong><%= post.body %></p>
	      	<p><strong> time: </strong><%= post.posttime %></p>
	      	<p><a class="btn" href="/posts/<%= post.id %>/delete">delete post</a></p></div>
	
	<% end %>
</div>

<div id="deleteprofile">

<a class="btn" href ="/editprofile">Edit Your Profile Info</a>

</div>




