<br><br>

<h1 id="prouser"><%= current_user.username %></h1>
<p><%= current_user.email %></p>
<p><%= current_user.password %></p>
<!-- <a href="/profile/<%= current_user %>/delete">delete profile</a> -->

<br><br>
<form method="post" action="/profile">
	<input type="email" name="email" placeholder="Edit email"><br>
    <input type="password" name="password" placeholder="Edit password"><br><br>
	<input type="submit" value="Edit your info">
</form>

<form method="POST" action="/delete">
	<input type="submit" value="Delete Your Account">
</form>


<% if flash[:alert] %>
	<div class="flash alert">
		<%= flash[:alert] %>
	</div>
<% end %>




